/*--stil stranice--*/
html, body {
	background-color: PowderBlue;
	margin: 0px;
	padding: 0;
}

/*--header--*/
header {
	width: 100%;
	height: 50px;

	position: absolute;
	top: 1;

	background-color: #0066cc;
	border-radius: 5px;

	font-family: 'Kurale', serif;
	font-size: 30px;
	text-align: center;
}

/*--naslov i paragraf--*/
h1, h2 {
	font-family: 'Kurale', serif;
	text-align: center;
}

h1 {
	font-size: 35px;
}

h2{
	font-size: 25px;
}

p {
	font-size: 23px;
	font-family: 'Cormorant Infant', serif;
	text-align: center;
	padding: 10px;
}

/*--deo sa igricom--*/
#wrapp {
	width: 100%;
	min-height: 100vh;
}
.container {
	width: 800px;
	height: 800px;
	border: 2px solid #0066cc;
	margin: 70px auto;
}
.box {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 1px solid #0066cc;
	float: left;
	position: relative;
}
.back {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 1px solid #0066cc;
	position: absolute;
	transform: perspective(900px) rotateY(180deg);
	backface-visibility: hidden;
	transition: transform 0.7s linear;
	font-size: 2em;
	line-height: 100px;
	text-align: center;

}
.front {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 1px solid #0066cc;
	position: absolute;
	background: DodgerBlue;
	backface-visibility: hidden;
	transition: transform 0.7s linear;
}

/*---footer---*/

footer {
    width: 100%;
    height: 150px;
    margin-top: 100px;
    position: absolute;
    bottom: 1;
    background-color: #0066cc;
    border-radius: 5px;
    font-family: 'Kurale', serif;
    font-size: 15px;
    text-align: center;
}

/*---Social-media ikone---*/

.footimg {
    width: 48px;
    height: 48px;
    float: left;
    position: bottom;
    position: relative;
    left: 610px;
}

/*---My portfolio link---*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
